@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
:root {
    --background-color: #11212d;
    --header-color: #323841;
    --text-color: #F6f2EE;
    --text-tmr-color: #01C4F0;
    --text-code-color: #3D56B9;
    --hover-color: #Cacbcd;
}


html {
  background-image: linear-gradient(to right,#11212d, #3D56B9);
}

a {
  text-decoration: none;
}

.container {
  background-image: linear-gradient(to right,#323841, #1e2227);
  font-size: 1.2rem;
  font-family: "Nunito Sans", sans-serif;
  height: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 99%;
}

.logo {
  margin-top: 6px;
  margin-left: 10px;
}

.navbar ul {
  display: flex;
  color: var(--text-color);
}

.container .navbar {
  justify-content: space-between;
}

.navbar ul li {
  list-style-type: none;
}

.container .navbar ul li {
  margin:10px;
}

.navbar a {
  color: var(--text-color);
  text-shadow: 3px 3px 5px #262525;
}

.navbar a:hover {
  color: var(--hover-color);
}

.slogan {
    font-family: "Krona One", sans-serif;
    font-size: 7rem;
    color: var(--text-color);
    display: flex;
    justify-content:left;
    align-items:center;
    margin-left: 1rem;
}
.tomrow {
    font-family: "Chakra Petch", sans-serif;
    font-size: 8rem;
    color: var(--text-tmr-color);
    text-shadow: #3D56B9 4px 0 8px;
}

.code {
    font-family: "Share Tech", sans-serif;
    font-size: 8.7rem;
    color: var(--text-code-color);
    text-shadow: 2px 3px 10px #262525;
}

.gontext {
  color: var(--text-tmr-color);
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
  text-shadow: 2px 3px 10px #262525;
}

.codegon {
  color: var(--text-code-color);
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
  text-shadow: 2px 3px 10px #262525;
}

.by {
  color: var(--text-color);
  font-family: "krona One", sans-serif;
  font-size: 2rem;
  position: fixed;
}

.wholeslogan {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

footer .socials{
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  justify-content: center;
  bottom: 0;
}

.discord {
  width: 50px;
  margin-right: 5px;
  margin-left: 5px;
}

.linkedin {
  width: 50px;
  margin-right: 5px;
  margin-left: 5px;
}

.x {
  width: 50px;
  margin-right: 5px;
  margin-left: 5px;
}

.github {
  width: 50px;
  margin-right: 5px;
  margin-left: 5px;
}

.instagram {
  width: 50px;
  margin-right: 94px;
  margin-left: 5px;
}

.bullets {
  list-style-type: none;
}

@media screen and (max-width: 720px) and (max-height: 1280px) {

  .container {
    font-size: 10px;
    height: 60px;
  }

  .logo {
    margin-top: 1px;
    width: 60px;
    margin-left: 10px;
  }

  .menu {
    margin-right: 1px;
  }

  .slogan {
    font-size: 3rem;
    margin-left: 0.5rem;
    text-align: center;
  }

  .tomrow {
    font-size: 4rem;
    text-align: center;
  }

  .code {
    font-size: 4rem;
    text-align: center;
  }

  .wholeslogan {
    margin: 2rem auto 0 auto;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .by {
    color: var(--text-color);
    font-family: "krona One", sans-serif;
    font-size: 10px;
    position:static;
  }

  footer .socials{
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    justify-content: center;
    bottom: 0;
  }

  .discord {
    width: 50px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .linkedin {
    width: 50px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .x {
    width: 50px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .github {
    width: 50px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .instagram {
    width: 50px;
    margin-right: 94px;
    margin-left: 5px;
  }

  .bullets {
    list-style-type: none;
  }
}
